// Define variables for your color scheme

// For example:
$red: #d8282b;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #339e6e;
$green-hover: rgb(64, 156, 87);
$gray: #0E0000;
$light-gray: #F4F4F4;
