// Specific CSS for your home-page
.review-banner {
  background-color: #bcb2a892;
  color: white;

  p{
    width: 600px;
    text-align: center;
  }
}

.overlay {
  position: relative;
  width: 100%;
}

.overlay h6 {
  position: absolute;
  top: -110px;
  left: 50%;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 6px #000000;
  transform: translate(-50%, -50%);
  font-size: 32px;
  padding: 5px 10px;
  border-radius: 5px;
}
