
<div class="container">
  <div class="container-image-map">
    <div class="image"></div>
    <div class="map"></div>
  </div>

  <div class="container-info">
    <div class="container-desc"></div>
    <div class="container-booking"></div>
  </div>

</div>
