<div class="banner" style="background-color: white;">
  <div class="container mb-5">
    <div class="banner-text">
      <h1>Welcome to Hide n Seek</h1>
      <p>Your gateway to uncovering hidden gems around the globe!</p>
    </div>
  </div>
</div>

<div class="container mt-4 d-flex flex-column align-items-center">
  <%= render "shared/search_bar" %>
</div>

<div class="container">
  <h1 class="mt-4">Suggested destination</h1>
  <%= render "shared/cards" %>
</div>

<div class="mt-3 py-4 text-center">
  <div class="py-4 trustpilot">
    <h2>Rated "excellent" for a reason.</h2>
    <p>Our platform specializes in curating a collection of extraordinary accommodations </p>
    <p> ranging from cozy treehouses nestled in lush forests to charming houseboats bobbing on serene waters</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOoXJblfzsUl5uYfXHAK-Mfccavrk54eaPAaQnJ_Nlhw&s">
  </div>
</div>

<div class="container">
  <h1 class="mt-4">Most popular</h1>
  <%= render "shared/cards" %>
</div>
