
<div class="mt-5">
  <% @bookings.each do |booking| %>
<div>
  <h3><%= booking.flat.name %></h3>
  <ul>
    <li><%=booking.start_date%></li>
    <li><%=booking.end_date%></li>
  </ul>
  <%= link_to destroy_booking_path(booking), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
</div>
<% end %>
</div>
