<div class="row mt-2">
  <% @flats.each do |flat|  %>
    <div class="col-lg-3 md-6 mb-3 cards d-flex flex-column justify-content-between">
      <a href=""><img src="https://a0.muscache.com/im/pictures/2ce2f829-7965-479a-af98-c5a84824ce06.jpg?im_w=1200" class="card-img-top" alt="Property Image"></a>
      <div class="">
        <p class=""><%= flat.name %></p>
        <p>⭐️⭐️⭐️⭐️☆ 4.0</p>
        <h6><i class="fa-solid fa-location-dot"></i> <%= flat.location %> </h6>
        <p><strong>￡<%= flat.price_per_night.round() %></strong> night</p>
      </div>
      <div class="d-flex align-items-end">
        <a href="#" class="btn btn-primary my-2 mx-2">View Details</a>
      </div>
    </div>
  <% end %>
</div>
