<div class="search-bar d-flex mt-4">
  <div class="d-flex flex-column border-end mx-3">
    <label for="">Where</label>
    <input type="text" placeholder="Search destinations">
  </div>
  <div class="d-flex flex-column border-end mx-3">
    <label for="">Check in</label>
    <input data-controller = "datepicker" type="text" placeholder="Add dates">
  </div>
  <div class="d-flex flex-column border-end mx-3">
    <label for="">Check out</label>
    <input data-controller = "datepicker" type="text" placeholder="Add dates">
  </div>
  <div class="d-flex flex-column mx-3">
    <label for="">Who</label>
    <input type="text" placeholder="Add guests">
  </div>
  <button class="btn btn-danger rounded-circle p-3 "><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
