.banner-new {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  height: 70vh;
  background-image: url('https://cdn.jsdelivr.net/gh/i-have-no-buddies/the-tax-relief-expert-cdn@master/v2/mortgage/first-time/banner.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.banner-new-text{
  text-shadow: 4px 4px 8px #a5a5a5;
  width: 40vw;
  margin-left: 60px;
}

.banner-new h1 {
  font-size: 60px;
  color: black;
  margin-bottom: 10px;
}

.banner-new p {
  margin-bottom: 0;
  color: black;
  font-size: 20px;
}
