.banner {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 18px;
  height: 70vh;
  background-image: url('https://a0.muscache.com/im/pictures/prohost-api/Hosting-34444025/original/01c708a0-56af-4253-afc0-d8c775b53984.jpeg?im_w=1200');
  background-size: cover;
  background-position: center;
}

.banner-text{
  text-shadow: 4px 8px 10px #000000;
  padding: 10px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 72px;
  color: white;
  margin-bottom: 10px;
}

.banner p {
  margin-bottom: 0;
  color: white;
  font-size: 32px;
}
