.banner {
  border: 1px solid #ccc;
  color: #333;
  font-size: 18px;
  height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://a0.muscache.com/im/pictures/prohost-api/Hosting-34444025/original/01c708a0-56af-4253-afc0-d8c775b53984.jpeg?im_w=1200');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.banner-text{
  margin: 24px;
  text-shadow: 4px 8px 10px #000000;
  text-align: center;
}

.banner h1 {
  font-size: 72px;
  color: white;
  margin-bottom: 10px;
}

.banner p {
  margin-bottom: 0;
  color: white;
  font-size: 32px;
}
