.cards {
  border-radius: 20px;
  padding-bottom: 5px;
  height: max-content;

  img{
    border-radius: 20px;
    height: 250px;
    width: 100%;
  }

  h5{
    margin: 0;
  }
  h6 {
    color: grey
  }
  p{
    margin: 0;
  }
  a{
    transition: 0.3s ease-in-out;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }
}

.cards:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
