.border{
  border: 1px solid #ced4da; /* Border color */
  border-radius: 8px; /* Rounded corners */
  padding: 20px;
}

.container-info {
  margin-bottom: 20px; /* Bottom margin */
}

.info {
  background-color: #fff; /* White background color */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding */
}

.info h2, .info h4 {
  margin-top: 0; /* Remove top margin for headings */
}

.info p {
  margin-bottom: 10px; /* Bottom margin for paragraphs */
}

.btn-flat {
  background-color: transparent; /* Transparent background */
  border: 1px solid #007bff; /* Button border color */
  color: #007bff; /* Button text color */
  padding: 10px 20px; /* Padding */
  border-radius: 4px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.btn-flat:hover {
  background-color: #007bff; /* Darker background color on hover */
  color: #fff; /* Button text color on hover */
}
//
.info{
  width: 63vw;
}
//
.btn-flat {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-flat:hover {
  opacity: 1;
}

.container-booking {
  background-color: #fff;
  border: 1px solid #03060900;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Increase padding for better spacing */
  margin-bottom: 20px;
  width: 350px;
  position: sticky;
  top: 90px; /* Adjust top position as needed */
  max-height: 500px; /* Set a maximum height for the container */
}

.container-booking h4 {
  color: #000000;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-primary {
  background-color: $green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #72aa36e7;
}

.underline-price {
  border-bottom: 0.5px solid #625e5e43;
/* Add bottom border to underline the price */
}

.btn-rounded {
  border-radius: 20px; /* Rounded button corners */
}
.btn-container {
  max-width: 300px;
  margin: auto;/* Adjust this width to match your form width */
}
