.navbar-lewagon {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,.2);
  margin-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  height: 38px;
  width: 38px; /* Set the height to match your buttons */
  padding: 0;  /* Reset padding, assuming no padding is required */
}

.avatar:hover {
  border-radius: 10px;
  background-color:#5cb85c !important;
}

.dropdown-item {
  padding: 8px;
}

.dropdown {
  border-radius: 10px;
}

.dropdown-item:hover {
  border-radius: 10px;
  background-color:#5cb85c !important;
}

.nav-link:hover {
  border-radius: 10px;
  background-color:#5cb85c !important;
}

.form-control {
  border-radius: 10px;
  color: #5cb85c;
}

.btn-outline-success {
  border-radius: 10px;
}
