.navbar-lewagon {
  justify-content: space-between;
  padding-left: 20px;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-sticky-top {
  position: sticky;
  top: 0;
  z-index: 99;
}

.avatar {
  height: 38px;
  width: 38px; /* Set the height to match your buttons */
  padding: 0;  /* Reset padding, assuming no padding is required */
}


.dropdown-item {
  padding: 8px;
}

.dropdown {
  border-radius: 10px;
}

.dropdown-item:hover {
  border-radius: 10px;
  background-color: $green;
}

.nav-link:hover {
  border-radius: 10px;
  background-color: $green;
}

.btn-outline-success:hover {
  background-color: $green;

}

.navbar-nav li a:hover {
  text-decoration: none;
}

.btn-nav {
border-radius: 20px;
}

.nav-links a {
  color: $gray;
  text-decoration: none;
}
