.input {
  border: none;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 20px;
  width: 800px;
  font-size: 20px;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input:focus::placeholder {
  color: transparent;
}

.btn-search {
  background-color: $green;
  border: 2px solid $green;
  border-radius: 0 50px 50px 0;
  width: 150px;
}
