.input {
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 14px;
  padding: 10px 20px;
  width: 800px;
  font-size: 20px;
  border: 2px solid white;
}

.input:focus {
  outline: none !important;
}

.btn-search {
  background-color: $green;
  border: 2px solid $green;
  border-radius: 0 50px 50px 0;
  width: 150px;
}
